a.contextual-links-trigger {
  width: 32px;
  font-size: 0;
}

div.contextual-links-active a.contextual-links-trigger {
  position: relative;
  background-color: white;
  overflow: visible;
  outline: 0;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    height: 2px;
    background-color: white;
  }
}

ul.contextual-links {
  padding: 3px 0 !important;

  * {
    margin: 0 !important;
    padding: 0 !important;
    font-family: sans-serif !important;
    font-size: 12px !important;
    line-height: 1.2 !important;
    letter-spacing: 0 !important;
  }

  a {
    padding: 4px 16px 4px 6px !important;
    background-color: white !important;

    &:hover {
      background-color: #eee !important;
    }
  }

  .bean-type a {
    &:hover {
      background-color: transparent !important;
    }
  }
}
