*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: none;
  overflow-x: hidden;
  overflow-y: auto;
}

body {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}

// Generally prevent images from breaking their containers.
img {
  max-width: 100%;
  height: auto;
}

iframe {
  border: 0;
}

// Common elements
// -----------------------------------------------------------------------------

// Responsive video iframes.
.video-container {
  width: 100%;

  .video-frame {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: percentage(720/1280);
    padding-bottom: 35px;
    overflow: hidden;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

// Grid
// -----------------------------------------------------------------------------

.container {
  max-width: none;
}

.set-grid-metrics(@gutter-side-mobile);

// Menus
// -----------------------------------------------------------------------------

// Markup for menu and submenu toggle controls should be hidden by default.
.menu-toggle, .submenu-toggle {
  display: none;
}

.nav {
  .dropdown {
    position: relative;

    > a {
      &:first-child {
        padding-right: 44px;
      }

      &.dropdown-toggle {
        position: absolute;
        top: 0;
        right: 0;
        width: 44px;
      }
    }

    &.open {
      > a {
        .caret {
          border-top: 0;
          border-bottom-width: 4px;
        }
      }
    }
  }
}

.submenu-toggle {
  strong {
    font-family: sans-serif;
  }

  .when-open, span {
    display: none;
  }

  .open & {
    .when-open {
      display: block;
    }

    .when-closed {
      display: none;
    }
  }
}

.password-request {
  margin-left: 1em;
}

// Fixes contextual link display for bean containers
.bean-container.contextual-links-region > .contextual-links-wrapper {
  right: 35px;
}

// Search
// -----------------------------------------------------------------------------
ul.facetapi-ombucleanup-dropdowns,
ul.facetapi-facetapi-links {
  padding-left: 0;
  li {
    list-style: none;
  }
}
a.facetapi-active, a.facetapi-inactive {
  display: inline-block;
  font-size: 15px;
  line-height: 1.5em;
  position: relative;
  padding: 0.25em 0 0.25em 30px;

  &:before {
    content: '';
    position: absolute;
    top: 4px;
    left: 0;
    width: 22px;
    height: 22px;
    border: 1px solid #999;
    border-radius: 2px;
    background-color: rgb(245, 245, 245);
    background-color: white;
  }

  &.facetapi-active:after {
    content: "\2713";
    font-size: 20px;
    position: absolute;
    top: 5px;
    left: 0;
    width: 22px;
    text-align: center;
  }
}
