// Fixes height/positioning issues with overlay

body {
  position: relative;
}

// Menus
// ----------------------------------------------------------------------------

// Markup for menu and submenu toggle controls should be hidden by default.
.menu-toggle, .submenu-toggle {
  display: none;
}

.submenu-toggle {
  strong {
    font-family: sans-serif;
  }

  .when-open, span {
    display: none;
  }

  .open & {
    .when-open {
      display: block;
    }

    .when-closed {
      display: none;
    }
  }
}

.password-request {
  margin-left: 1em;
}
