#overlay-container,
.overlay-modal-background,
.overlay-element {
  z-index: 11000;
}

.overlay-element {
  z-index: 11001;
}

html.overlay-open .displace-top,
html.overlay-open .displace-bottom {
  z-index: 11100;
}
